POSTGRES_DB=aegisops_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_URL=redis://localhost:6379

GOOGLE_API_KEY=your_google_api_key_here

SPLUNK_HOST=localhost
SPLUNK_PORT=8000
SPLUNK_TOKEN=your_splunk_admin_token_here
SPLUNK_HEC_TOKEN=your_splunk_hec_token_here

SLACK_BOT_TOKEN=xoxb-your-bot-token-here
SLACK_SIGNING_SECRET=your_signing_secret_here
SLACK_CHANNEL_ID=your_channel_id_here

KUBECONFIG=./kubeconfig.yaml
HF_TOKEN=your_huggingface_token_here
